appdirs
asgiref
Brotli
certifi
cffi
channels
channels_redis
charset-normalizer
cssselect2
distlib
Django
django-allauth
django-appconf
django-compressor
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-filter
django-haystack
django-renderpdf
djangorestframework
elastic-transport
elasticsearch
filelock
fonttools
idna
msgpack
mysql-connector
packaging
pillow
pip
psycopg2
psycopg2-binary
pycparser
pydyf
pyphen
PyYAML
rcssmin
redis
requests
rjsmin
six
sqlparse
tinycss2
tinyhtml5
urllib3
virtualenv
weasyprint
webencodings
zopfli

