<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in to Hubbii</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <!-- Display error messages here -->
        {% if form.errors %}
            <div>
                <p style="color: red;">Invalid username or password. Please try again.</p>
            </div>
        {% endif %}
        <div>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username" required>
        </div>
        <div>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div>
            <a href="{% url 'password_reset' %}">Forgot Password?</a>
        </div>
    </form>
    
    <a href="{% url 'signup' %}">Don't have an account? SignUp</a>
</body>
</html>